.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(10, 10, 54);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.login-header {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
